/* NOTE TO SELF: all the values of 0 (zero) had a px after them but it made an error "unit of
measure 'px' is redundant I will take them off see if it can run it then */
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #000;
}
button {
    font-size: 16px;
    padding-left: 20vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/*settings for the dropdown button*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /*padding y then x*/
    padding: 14px 100px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*button color and background setting*/
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black; color:white;
}

.navbar b:hover, .dropdown:hover .dropbtn {
    background-color: black; color:white;
}

/*the text boxes when drop down*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/*the drop down seen when it is expanded*/
.dropdown-content a {
    float: none;
    color: white;
    /*y then x*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/*colour of he box when hover?*/
.dropdown-content a:hover {
    background-color: #696969;
}


.dropdown:hover .dropdown-content {
    display: block;
}
a {
    color: #d00;
    text-decoration: underline;
    font-weight: bold;
}


a:hover {
    /*text colour when hover*/
    color: #000000;
    /*text-decoration: underline;*/
}



div#hud > div.hud-panel {
    position: absolute;
    padding: 5px;
}

div#hud > div.hud-panel.top-left {
    top: 0;
    left: 0;
    text-align: left;
}

div#hud > div.hud-panel.top-right {
    top: 0;
    right: 0;
    text-align: right;
}

div#hud > div.hud-panel.bottom-left {
    position:relative;
    bottom: 0;
    left: 0;
    text-align: left;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height:200px;
    border: 3px solid #ffffff;
}

div#hud > div.hud-panel.bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
}

div#loading-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25%;
    height: 25%;
    text-align: center;
    display: none;
}

/*the switch buttons settings*/
.toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    /*y then x*/
    padding: 12px 16px;
    text-decoration: none;
    text-align: right;
}

.slider {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 12px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/* for the information section*/
.sidenav {
   /* height: 100%;*/
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    transition: 0.5s;
    padding-top: 60px;
}
/*this is for the settings side navigation*/
.sidenavR {
    /* height: 100%;*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    float: right;
    top: 0;
    left: 100%;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    bottom: 0;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenavR .closebtnR {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*expanding information buttons*/
.collapsible {
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #000;
}

/*leap motion*/
canvas{
    pointer-events: none;
}
