/* NOTE TO SELF: all the values of 0 (zero) had a px after them but it made an error "unit of
measure 'px' is redundant I will take them off see if it can run it then */
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #000;
}
button {
    font-size: 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white; color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
a {
    color: #d00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

div#hud > div.hud-panel {
    position: absolute;
    padding: 5px;
}

div#hud > div.hud-panel.top-left {
    top: 0;
    left: 0;
    text-align: left;
}

div#hud > div.hud-panel.top-right {
    top: 0;
    right: 0;
    text-align: right;
}

div#hud > div.hud-panel.bottom-left {
    bottom: 0;
    left: 0;
    text-align: left;
}

div#hud > div.hud-panel.bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
}

div#loading-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25%;
    height: 25%;
    text-align: center;
    display: none;
}
